<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' data:; script-src 'self'">

    <link rel="stylesheet" href="../assets/styles/bootstrap.min.css">

    <title>BOT - CONTATOS</title>
</head>

<body>
    <div class="container-fluid">
        <div id="contactsBlock" class="py-2 container-fluid"></div>
    </div>

    <script src="../assets/scripts/bootstrap.bundle.min.js"></script>

    <script type="module" src="../assets/scripts/contacts.js"></script>
</body>

</html>